## Solution 1
1. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

2. Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.

SQL
1. RELATIONAL DATABASE MANAGEMENT SYSTEM.
2. These databases have fixed or static or predefined schema.
3. These databases are not suited for hierarchical data storage.
4. These databases are best suited for complex queries.
5. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.

NoSQL
1. Non-relational or distributed database system
2. They have dynamic schema
3. These databases are best suited for hierarchical data storage.
4. These databases are not so good for complex queries
5. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

## Solutuon 2
DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

List of DDL commands: 
1. CREATE: This command is used to create the database or its objects
   (like table, index, function, views, store procedure, and
   triggers).
2. DROP: This command is used to delete objects from the database.
3. ALTER: This is used to alter the structure of the database.
4. TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
5. COMMENT: This is used to add comments to the data dictionary.
6. RENAME: This is used to rename an object existing in the database.

#CREATE TABLE:
A Table is combination of rows and columns. For creating table we have to define the structure of table by adding name to columns, providing data type and size of data to be stored in columns.

SYNTAX -> CREATE table table_name(Columnn1 datatype (size),Columnn2  datatype (size),.....,Columnn(n) datatype (size)); 

EXAMPLE -> CREATE table test(name VARCHAR(20), age INT,email VARCHAR(50));

#DROP:
DROP is used to delete a whole database or just a table.The DROP statement destroys the objects like an existing database, table, index, or view.

SYNTAX -> DROP TABLE table_name; : to drop table. -> DROP DATABASE               DROP DATABASE database_name; : to drop a database.

EXAMPLE -> DROP DATABASE Student;

#TRUNCATE:
TRUNCATE statement is a Data Definition Language (DDL) operation that is used to mark the extents of a table for deallocation (empty for reuse). The result of this operation quickly removes all data from a table, typically bypassing a number of integrity enforcing mechanisms.

SYNTAX -> TRUNCATE TABLE table_name;

EXAMPLE -> TRUNCATE TABLE Student_details;

#ALTER:
ALTER TABLE is used to add, delete/drop or modify columns in the existing table. It is also used to add and drop various constraints on the existing table.

1. ALTER TABLE – ADD
SYNTAX -> ALTER TABLE table_name ADD(Columnn1  datatype,Columnn2  datatype,....,Columnn(n)  datatype);

EXAMPLE -> ALTER TABLE test ADD (course VARCHAR(20),payment INT);

2. ALTER TABLE – DROP
SYNTAX -> ALTER TABLE table_name DROP COLUMN column_name;

EXAMPLE -> ALTER TABLE test DROP COLUMN payment;

3. ALTER TABLE-MODIFY
SYNTAX -> ALTER TABLE table_name MODIFY column_name column_type;

EXAMPLE -> ALTER TABLE test MODIFY payment FLOAT;

## Solution 3
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

List of DML commands: 
INSERT : It is used to insert data into a table.
UPDATE: It is used to update existing data within a table.
DELETE : It is used to delete records from a database table.

#INSERT:
The INSERT INTO statement of SQL is used to insert a new row in a table. There are two ways of using INSERT INTO statement for inserting rows

1. only values:
    SYNTAX -> INSERT INTO table_name VALUES (value1, value2, value3,…);
    EXAMPLE -> INSERT INTO test.table1 VALUES (value1, value2, value3);
2. Column names and values both:
    SYNTAX -> INSERT INTO test.table1 (column1, column2, column3) VALUES( 1, 2, 3);

Note: test is the database name

#UPDATE:
The UPDATE statement in SQL is used to update the data of an existing table in database. We can update single columns as well as multiple columns using UPDATE statement as per our requirement.

SYNTAX -> UPDATE table_name SET column1 = value1, column2 = value2,... 
WHERE condition;

1. Updating single column:
    EXAMPLE -> UPDATE Student SET NAME = 'ASH' WHERE Age = 20;
    
2. Updating multiple columns:
    EXAMPLE ->UPDATE Student SET NAME = 'ASH', ADDRESS = 'mumbai' WHERE ROLL_NO = 1;
    
3. Omitting WHERE clause:
    EXAMPKE -> UPDATE Student SET NAME = 'TANAY';
    
    Note : this will update whole table
    
#DELETE:
The DELETE Statement in SQL is used to delete existing records from a table. We can delete a single record or multiple records depending on the condition we specify in the WHERE clause.

SYNTAX -> DELETE FROM table_name WHERE some_condition;

1. Deleting single record:
    EXAMPLE -> DELETE FROM Student WHERE NAME = 'ASH';

2. Deleting multiple records:
    DELETE FROM Student WHERE Age = 20;
    
3. Delete all of the records:
    "DELETE * FROM Student";

## Solution 4
DQL or Data Query Language, statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 
SELECT: It is used to retrieve data from the database.

SYNTAX: SELECT column1,column2 FROM table_name;

EXAMPLE: SELECT * FROM Student;

# Solution 5
Primary Key: 
1. A primary key is used to ensure data in the specific column is unique.
2. It uniquely identifies a record in the relational database table.
3. Only one primary key is allowed in a table.
4. It is a combination of UNIQUE and Not Null constraints.
5. Its value cannot be deleted from the parent table.

Foreign Key: 
1. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2. It refers to the field in a table which is the primary key of another table.
3. Whereas more than one foreign key are allowed in a table.
4. It can contain duplicate values and a table in a relational database.
5. Its value can be deleted from the child table.

## Solution 6

In [ ]:
#python code to connect to MySql and create database
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="abc",password="password")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mydb.close()

execute():
This method accepts a MySQL query as a parameter and executes the given query.

cursor()
The MySQLCursor of mysql-connector-python is used to execute statements to communicate with the MySQL database. Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

## Solution 7

In a typical SQL query, the clauses are executed in the following order:

In SQL, the order of execution of clauses in a query is as follows:

FROM clause: This clause specifies the tables from which the data will be retrieved.

WHERE clause: This clause is used to filter the rows based on specific conditions.

GROUP BY clause: This clause is used to group the data based on one or more columns.

HAVING clause: This clause is used to filter the groups based on specific conditions.

SELECT clause: This clause is used to select the columns that will be displayed in the result set.

ORDER BY clause: This clause is used to sort the result set based on one or more columns.

LIMIT clause: This clause is used to limit the number of rows returned by the query.

## THE END